doctype html
html
  head
    title= title
  body
  block content
    h1= title
    p Welcome to #{title}
    each message in messages
      span #{message.user} 
      span #{message.text} 
      span #{message.added}   
      br
    form(method="GET" action="/new")
      button Enter new message